<!DOCTYPE html>
<html>
    <head>
        {% trans_default_domain 'index' %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% trans %}index.title{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}
            <!--link rel="stylesheet" type="text/css" href="/dist/css/materialize.min.css"-->
            <link rel="stylesheet" type="text/css" href="/dist/css/site.css">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="header">
                <div class="logo item"></div>
                <div class="state item">
                    <div id="server-status" class="state-option" data-block="server-state-block">
                        <label {% if not isServerRun %}class="disabled"{% endif %}>{% trans %}index.server_status{% endtrans %}</label>
                        <div class="status-value">
                            <span class="{{ isServerRun ? 'true' : 'false' }}">
                                {% if isServerRun %}
                                    {% trans %}index.server_state_run{% endtrans %}
                                {% else %}
                                    {% trans %}index.server_state_stopped{% endtrans %}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div id="count-connected-user" class="state-option" data-block="count-users-block">
                        <label {% if not isServerRun %}class="disabled"{% endif %}>{% trans %}index.connected_users{% endtrans %}</label>
                        <div class="status-value">
                            <span class="{{ isServerRun ? 'current' : 'false' }}">
                                {% trans %}index.not_known{% endtrans %}
                            </span>
                        </div>
                    </div>
                    <div id="count-active-room" class="state-option" data-block="count-rooms-block">
                        <label {% if not isServerRun %}class="disabled"{% endif %}>{% trans %}index.active_rooms{% endtrans %}</label>
                        <div class="status-value">
                            <span class="{{ isServerRun ? 'current' : 'false' }}">
                                {% trans %}index.not_known{% endtrans %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="option-action item">
                    <div id="connect" class="connection-button disabled">{% trans %}index.connect_room{% endtrans %}</div>
                    <div id="disconnect" class="connection-button hide">{% trans %}index.disconnect_room{% endtrans %}</div>
                </div>
                <div class="option-action settings item">
                    <div id="settings" class="connection-button {{ not isServerRun ? 'disabled' : '' }}">{% trans %}index.settings{% endtrans %}</div>
                </div>
            </div>
            {% block server_state_block %}
                <div class="server-state-block header-popup-menu hide">
                    <div class="menu-options">
                        <div class="option">
                            <div class="label">
                                <label>{% trans %}index.server.runtime{% endtrans %}:</label>
                            </div>
                            <div class="option-input">
                                <span id="server-run-time"></span>
                            </div>
                        </div>
                        <div class="option">
                            <div class="label">
                                <label>{% trans %}index.server.count_users{% endtrans %}:</label>
                            </div>
                            <div class="option-input">
                                <span id="server-count-users"></span>
                            </div>
                        </div>
                        <div class="option">
                            <div class="label">
                                <label>{% trans %}index.server.count_rooms{% endtrans %}:</label>
                            </div>
                            <div class="option-input">
                                <span id="server-count-rooms"></span>
                            </div>
                        </div>    
                    </div>
                </div>
            {% endblock %}
            {% block count_users_block %}
                <div class="count-users-block header-popup-menu hide">
                    <div class="menu-options">
                        <div class="option label">
                            <div class="label">
                                <label>{% trans %}index.server.users.list.label{% endtrans %}:</label>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block count_rooms_block %}
                <div class="count-rooms-block header-popup-menu hide">
                    <div class="menu-options">
                        <div class="option label">
                            <div class="label">
                                <label>{% trans %}index.server.rooms.list.label{% endtrans %}:</label>
                            </div>
                            <div class="rooms-list">
                                <div class="row-room label">
                                    <div class="room-number cell-room">
                                        <label>#</label>
                                    </div>
                                    <div class="room-count-users cell-room">
                                        <label>{% trans %}index.server.rooms.list.count.users.label{% endtrans %}</label>
                                    </div>
                                    <div class="room-speed cell-room">
                                        <label>{% trans %}index.server.rooms.list.speed.label{% endtrans %}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block settings %}
                {% set currentLg = app.request.cookies.has('language') ? app.request.cookies.get('language') : 'en' %}
                <div class="menu-block header-popup-menu hide">
                    <div class="menu-options">
                        <!--input id="demo" type="button" value="Demo Bots"/-->
                        <div class="option">
                            <div class="label">
                                <label>{% trans %}index.count_users{% endtrans %}:</label>
                            </div>
                            <div class="option-input">
                                <span id="bot-trainig-label" class="hide false">{% trans %}index.note.time_training{% endtrans %}</span>
                                <input id="countUsers" min="1" max="8" type="number" value="2"/>
                            </div>
                        </div>
                        <div class="option">
                            <div class="label">
                                <label>{% trans %}index.language{% endtrans %}:</label>
                            </div>
                            <div class="option-input">
                                <select class="language">
                                    {% for lg, title in {'ru': 'Русский', 'en': 'English'} %}
                                        <option value="{{ lg }}" {% if lg == currentLg %}selected{% endif %}>{{ title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="option">
                            <div class="label">
                                <label>{% trans %}index.speed{% endtrans %}:</label>
                            </div>
                            <div class="option-input">
                                <select class="speed">
                                    {% for count, title in {1: 'index.speed.fast'|trans, 5: 'index.speed.medium'|trans, 10: 'index.speed.low'|trans} %}
                                        <option value="{{ count }}">{{ title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="option hide">
                            <div class="label">
                                <label>{% trans %}index.count_chars{% endtrans %}:</label>
                            </div>
                            <div class="option-input">
                                <input id="countChars" min="20" max="10000" type="number" value="100"/>
                            </div>
                        </div>
                        <div class="option">
                            <div class="label">
                                <label>{% trans %}index.user_login{% endtrans %}:</label>
                            </div>
                            <div class="option-input">
                                <input id="login" />
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="/dist/js/app.js"></script>
        {% endblock %}
    </body>
</html>
