{% extends 'base.html.twig' %}
{% trans_default_domain 'index' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/dist/css/index.css">
{% endblock %}

{% block body %}
    {% set currentLg = app.request.cookies.has('language') ? app.request.cookies.get('language') : 'en' %}
    <div class="main-block">
        <input id="ws_server" type="hidden" value="{{ ws_server }}">
        <div id="input-text" class="disabled">
            <TT><span class="true"></span><span class="false"></span><span class="current"></span><span class="remaining"></span><span hidden="true" class="hides"></span></TT>
        </div>
        {% include 'keyboard.html.twig' with {'currentLg': currentLg} %}
    </div>
    <div id='users'>
        <div id='user-template' class="hide">
            <div class='login'></div>
            <hr />
            <div class='current-life'></div>
            <hr />
            <div class='status'></div>
        </div>
    </div>
{% endblock %}