{% trans_default_domain 'index' %}

{% spaceless %}
    <div class="block-keyboard disabled">
        <div class="block-keyboard-into">
            <div id="key_192" class="key key_two">{% trans from 'keyboard' into currentLg%}kb.192{% endtrans %}</div>
            <div id="key_49" class="key key_two"><div class="key_top">!</div><div class="key_bottom">1</div></div>
            <div id="key_50" class="key key_two"><div class="key_top">@</div><div class="key_bottom">2</div></div>
            <div id="key_51" class="key key_two"><div class="key_top">#</div><div class="key_bottom">3</div></div>
            <div id="key_52" class="key key_two"><div class="key_top">$</div><div class="key_bottom">4</div></div>
            <div id="key_53" class="key key_two"><div class="key_top">%</div><div class="key_bottom">5</div></div>
            <div id="key_54" class="key key_two"><div class="key_top">^</div><div class="key_bottom">6</div></div>
            <div id="key_55" class="key key_two"><div class="key_top">&amp;</div><div class="key_bottom">7</div></div>
            <div id="key_56" class="key key_two"><div class="key_top">*</div><div class="key_bottom">8</div></div>
            <div id="key_57" class="key key_two"><div class="key_top">(</div><div class="key_bottom">9</div></div>
            <div id="key_48" class="key key_two"><div class="key_top">)</div><div class="key_bottom">0</div></div>
            <div id="key_173" class="key key_two"><div class="key_top">_</div><div class="key_bottom">-</div></div>
            <div id="key_61" class="key key_two"><div class="key_top">+</div><div class="key_bottom">=</div></div>
            <div id="key_8" class="key key_back">Back</div>
            <div id="key_1000" class="key key_ctrl">Tab</div>
            <div id="key_81" class="key">{% trans from 'keyboard' into currentLg%}kb.81{% endtrans %}</div>
            <div id="key_87" class="key">{% trans from 'keyboard' into currentLg%}kb.87{% endtrans %}</div>
            <div id="key_69" class="key">{% trans from 'keyboard' into currentLg%}kb.69{% endtrans %}</div>
            <div id="key_82" class="key">{% trans from 'keyboard' into currentLg%}kb.82{% endtrans %}</div>
            <div id="key_84" class="key">{% trans from 'keyboard' into currentLg%}kb.84{% endtrans %}</div>
            <div id="key_89" class="key">{% trans from 'keyboard' into currentLg%}kb.89{% endtrans %}</div>
            <div id="key_85" class="key">{% trans from 'keyboard' into currentLg%}kb.85{% endtrans %}</div>
            <div id="key_73" class="key">{% trans from 'keyboard' into currentLg%}kb.73{% endtrans %}</div>
            <div id="key_79" class="key">{% trans from 'keyboard' into currentLg%}kb.79{% endtrans %}</div>
            <div id="key_80" class="key">{% trans from 'keyboard' into currentLg%}kb.80{% endtrans %}</div>
            <div id="key_219" class="key">{% trans from 'keyboard' into currentLg%}kb.219{% endtrans %}</div>
            <div id="key_221" class="key">{% trans from 'keyboard' into currentLg%}kb.221{% endtrans %}</div>
            <div id="key_220" class="key key_two key_ctrl"><div class="key_top">\</div><div class="key_bottom">/</div></div>
            <div id="key_301" class="key key_caps">Caps Lock</div>
            <div id="key_65" class="key">{% trans from 'keyboard' into currentLg%}kb.65{% endtrans %}</div>
            <div id="key_83" class="key">{% trans from 'keyboard' into currentLg%}kb.83{% endtrans %}</div>
            <div id="key_68" class="key">{% trans from 'keyboard' into currentLg%}kb.68{% endtrans %}</div>
            <div id="key_70" class="key">{% trans from 'keyboard' into currentLg%}kb.70{% endtrans %}</div>
            <div id="key_71" class="key">{% trans from 'keyboard' into currentLg%}kb.71{% endtrans %}</div>
            <div id="key_72" class="key">{% trans from 'keyboard' into currentLg%}kb.72{% endtrans %}</div>
            <div id="key_74" class="key">{% trans from 'keyboard' into currentLg%}kb.74{% endtrans %}</div>
            <div id="key_75" class="key">{% trans from 'keyboard' into currentLg%}kb.75{% endtrans %}</div>
            <div id="key_76" class="key">{% trans from 'keyboard' into currentLg%}kb.76{% endtrans %}</div>
            <div id="key_59" class="key">{% trans from 'keyboard' into currentLg%}kb.59{% endtrans %}</div>
            <div id="key_222" class="key">{% trans from 'keyboard' into currentLg%}kb.222{% endtrans %}</div>
            <div id="key_13" class="key key_caps">Enter</div>
            <div id="key_16" class="key key_shift">Shift</div>
            <div id="key_90" class="key">{% trans from 'keyboard' into currentLg%}kb.90{% endtrans %}</div>
            <div id="key_88" class="key">{% trans from 'keyboard' into currentLg%}kb.88{% endtrans %}</div>
            <div id="key_67" class="key">{% trans from 'keyboard' into currentLg%}kb.67{% endtrans %}</div>
            <div id="key_86" class="key">{% trans from 'keyboard' into currentLg%}kb.86{% endtrans %}</div>
            <div id="key_66" class="key">{% trans from 'keyboard' into currentLg%}kb.66{% endtrans %}</div>
            <div id="key_78" class="key">{% trans from 'keyboard' into currentLg%}kb.78{% endtrans %}</div>
            <div id="key_77" class="key">{% trans from 'keyboard' into currentLg%}kb.77{% endtrans %}</div>
            <div id="key_188" class="key">{% trans from 'keyboard' into currentLg%}kb.188{% endtrans %}</div>
            <div id="key_190" class="key">{% trans from 'keyboard' into currentLg%}kb.190{% endtrans %}</div>
            <div id="key_191" class="key key_two"><div class="key_top">{% trans from 'keyboard' into currentLg%}kb.191_top{% endtrans %}</div><div class="key_bottom">{% trans from 'keyboard' into currentLg%}kb.191_bottom{% endtrans %}</div></div>
            <div id="key_16_" class="key key_shift">Shift</div>
            <div id="key_17" class="key key_ctrl">Ctrl</div>
            <div id="key_308" class="key"></div>
            <div id="key_308" class="key"></div>
            <div id="key_18" class="key">Alt</div>
            <div id="key_32" class="key key_space"> </div>
            <div id="key_18_" class="key">Alt</div>
            <div id="key_308" class="key"></div>
            <div id="key_308" class="key"></div>
            <div id="key_17_" class="key key_ctrl">Ctrl</div>
        </div>
    </div>
{% endspaceless %}