@import './site.less';

body {
    span.true{color: @trueColor;}
    span.false{color: @falseColor;}
    span.current{color: @currentColor;}
    span.remaining{color: @remainingColor;}
    
    .main-block {
        width: 100%;
        min-width: 810px;
        
        #input-text{
            width: 794px;
            height: 35px;
            background-color: white;
            border-radius: 5px;
            font-size: 20px;
            .framing();
            .centering();
            margin-bottom: 10px;
        }
        
        .block-keyboard {
            border-radius: 5px;
            padding: 11px;
            width: 772px;
            height: 287px;
            background-color: whitesmoke;
            .framing();
            .centering();
            
            .block-keyboard-into{
                margin: 2px 0px;
                float: left;
                width: 768px;
                .framing();
                border-radius: 5px;
                background-color: #101010;
            }
            
            .key {
                cursor:default;
                border-radius: 4px;
                background-color: white;
                line-height: 27px;
                margin: 1px;
                padding-top: 10px;
                text-align: center;
                float: left;
                width: 50px;
                height: 44px;
                box-shadow: 0px 0px 1px 1px #9D9D9D inset;
            }
            
            .key_two {
                line-height: 10px;
                
                .key_top {
                    padding-left: 4px;
                    padding-bottom: 12px;
                    text-align: left;
                }
                
                .key_bottom {
                    padding-right: 4px;
                    text-align: right;
                }
            }
            
            .key_back { width: 90px;}
            .key_caps { width: 96px;}
            .key_ctrl { width: 70px;}   
            .key_shift { width: 122px;}
            .key_space { width: 310px;} 
        }
    }
    
    .header-popup-menu {
        z-index: 10;
        padding: 10px;
        position: absolute;
        background-color: whitesmoke;
        top: 52px;
        max-height: 250px;
        overflow-y: auto;
        overflow-x: auto;
        .framing();
        
        &.menu-block {
            width: 292px;
            right: 0px;
        }
        
        &.server-state-block {
            width: 292px;
            left: 123px;
        }
        
        &.count-users-block {
            width: 292px;
            left: 255px;
        }
        
        &.count-rooms-block {
            width: 292px;
            left: 386px;
            
            .row-room {
                &.label {
                    width: 100% !important;
                }
                
                .cell-room {
                    text-align: center;
                    display: inline-block;
                    width: 35%;
                }
            
                .cell-room:first-child {
                    width: 10%;
                    cursor: pointer;
                }
            }
        }
        
        .option {
            margin-bottom: 5px;
            border-top: 1px solid gray;
                
            &.label {
                border-top: none;
            }
            
            .label {
                display: inline-block;
                width: 40%;
            }
            
            .option-input {
                display: inline-block;
                width:58%;
            }
            
            select, input {
                width: 100px;
                height: 30px;
                padding: 4px;
                border-radius: 5px;
                background-color: whitesmoke;
                .framing();
                width: 96%;
                
                &:hover {
                    background-color: white;
                }
                
                &:focus {
                    background-color: white;
                }
            }
            
            input {
                height: 18px;
                width: 89%;
            }
        }
    }
    
    #users {
        text-align: center;
        
        .user {
            margin-left: 3px;
            margin-top: 30px;
            padding: 10px 6px 18px 6px;
            border-radius: 5px;
            background-color: whitesmoke;
            .framing();
            display: inline-block;
            width: 11%;
            text-align: center;
            
            .current-life {
                padding: 3px;
                vertical-align: middle;
            }
            
            .status {
                p {
                    margin-top: 1px;
                    margin-bottom: 1px;
                }
                
                max-height: 60px;
                vertical-align: middle;
            }
        }
    }
}
