@import './variables.less';

html {
    margin: 0;
    padding: 0;
    cursor: default;
    
    body {
        height: 100%;
        background-color: gray;
        min-width: 900px;
        margin: 0;
        padding: 0;
        
        .header {
            width: 99.6%;
            height: 50px;
            margin-bottom: 10px;
            background: whitesmoke;
            .framing();
            
            .item {
                display: inline-block;
                
                &.option-action {
                    float: right;
                    padding-top: 0 !important;
            
                    .connection-button {
                        text-align: center;
                        padding-top:14px;
                        height: 36px;
                        width: 155px;
                        border-left: solid 2px #101010;
                        box-shadow: 0px 0px 1px 1px #9D9D9D inset;
            
                        &:not(.disabled):hover {
                            background-color: white;
                            cursor: pointer;
                        }
                
                        &.active {
                            background-color: white;
                            cursor: pointer;
                        }
                    }
                }
                
                &.logo {
                    opacity: 0.4;
                    background: url(/img/logo_gray.png) no-repeat left;
                    height: 50px;
                    width: 117px;
                    cursor: pointer;
                    
                    &:hover{
                        opacity: 1;
                        background: url(/img/logo_white.png) no-repeat left;
                        color: @gray;
                    }
                }

                &.state {
                    vertical-align: top;
                    height: 50px;
                    width: 425px;
                    
                    .state-option {
                        width: 30%;
                        text-align: center;
                        display: inline-block;
                        height: inherit;
                        cursor: pointer;
                        
                        label {
                            line-height: 1.4;
                            font-size: 16px;
                            font-weight: 700;
                        }
                        
                        &:hover {
                            background-color: white;
                            opacity: 0.7;
                            box-shadow: 0px 0px 1px 1px #9D9D9D inset;
                        }
                    
                        &.active {
                            background-color: white;
                            opacity: 0.5;
                            box-shadow: 0px 0px 1px 1px #9D9D9D inset;
                        }
                        
                        .status-value {
                            margin-top: 2px;
                        }
                    }
                }
            }
        }
        
        .disabled {
            opacity: 0.5;
        }
    
        a, a:focus, a:active {
            outline: none;
            text-decoration: none;
        }
        
        .hide {
            display: none;
        }
    }
}

