@gray: #9D9D9D;
@trueColor: #4CBD50;
@falseColor: #BD4C4C;
@currentColor: #4C59BD;
@remainingColor: black;

.centering() {
    margin: 0 auto;
}

.framing() {
    border: solid 2px #101010;
    box-shadow: 0px 0px 1px 1px #9D9D9D inset;
}